{% extends 'base.html' %} 
{% block title %}
Список заказов
{% endblock %}

{% block content %}
<div style="width: 100%; display: flex; justify-content: center">
  <ul style="align-self: center">
    <h1 style="font-size: 40px">Выберете кофе</h1>
    {% for coffee in data.coffee %}
    <li><a style="font-size: 30px; color: black" href="{% url 'coffee_url' coffee.id %}">{{ coffee.name }}</a></li>
    {% empty %}
    <li>Список пуст</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
